:root{
        --blackish :#393939;
        --beige:#c47c63;
        --brown:#645a41;
        --lightBr:#898055;
        --whiteish:#bfbdb0;
}

body{
    background-color: var(--brown);
    font-family:'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}

form{
    border: 3px solid #070707;
    align-items: center;
}
.container{
    padding: 25px;
    background-color: var(--lightBr);
}

button{
    color: var(--blackish);
    background-color: var(--whiteish);
    border-radius: 4%;
    padding:  5px;
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;
    
}

button:hover{

    background-color:var(--brown);
    color: ;
    box-shadow: 2px 2px #d5c5ae;
}

.email, .password {
        width : 100%;
        margin: 8px 0;
        display:inline-block;
        border: 2px solid green; 
        box-sizing: border-box; 
}