:root{
        --blackish :#393939;
        --marroonBrown : #703f37; 
        --brown:#645a41;
        --lightBr:#898055;
        --perriwinkle : #7d94b5;
        --mutedGreen : #b6c199;   
        --beige:#c8b7a6;
        --dusteRose: #c29591;
        --whiteish:#bfbdb0;
       

}

body{
    background-color: var(--dusteRose);
    font-family:'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    margin-top: 10%;
}

form{
    color: black;
    font-weight: bolder;
    border: 3px solid #070707;
    align-items: center;
    height: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}
.container{
    padding: 25px;
    background-color: var(--perriwinkle);
    
}

button{
    font-size: larger;
    color: var(--blackish);
    background-color: var(--whiteish);
    border-radius: 4%;
    padding:  5px;
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;
    
}

button:hover{
    font-weight: bold;
    color: var(--blackish) ;
    background-color: var(--dusteRose);
    font-size: larger;
}

.email, .password {
        width: 150%;
        width : 100%;
        margin: 8px 0;
        display:inline-block;
        border: 2px solid var(--dusteRose); 
        box-sizing: border-box; 
}