:root{
    --blackish :#393939;
    --marroonBrown : #703f37; 
    --brown:#645a41;
    --lightBr:#898055;
    --perriwinkle : #7d94b5;
    --mutedGreen : #b6c199;   
    --beige:#c8b7a6;
    --dusteRose: #c29591;
    --whiteish:#bfbdb0;   
}